<div class="stars p-0">
  {% assign rating_floor = product.reviews.rating | floor %}
  {% assign rating_remainder = 5 | minus: rating_floor | minus: 1 %}
  {% assign rating_decimal = product.reviews.rating | minus: rating_floor %}

  {% if rating_decimal != 0 %}
    {% assign rating_decimal_percentage = 100 | times: rating_decimal %}
  {% else %}
    {% assign rating_decimal_percentage = 0 %}
  {% endif %}

  {% for _ in (1..rating_floor) %}
    <span class="fa fa-star checked"></span>
  {% endfor %}

  {% unless rating_floor == 5 %}
    <span class="fa fa-star partial-checked-{{product.id}}"></span>
  {% endunless %}

  {% for _ in (1..rating_remainder) %}
    <span class="stars fa fa-star"></span>
  {% endfor %}
</div>

<style>
  .stars span {
      display: inline-block;
      position: relative;
  }
  .partial-checked-{{product.id}}::after {
      content: "\f005";
      position: absolute;
      left: 0;
      top: 0;
      width: {{rating_decimal_percentage}}%;
      overflow: hidden;
      color: #e4a400;
  }
</style>
